{% extends 'home/base.html' %}
{% load static %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Bids List
        <small>List of Products</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Bids</a></li>
        <li class="active">All</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">List of bids</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Product</th>
                    <th>Amount</th>
                    <th> Date </th>
                  </tr>
                </thead>
                <tbody>

                  {% for bid in object_list %}
                  <tr>
                    <td>{{bid.date}}</td>
                    <td> <a href="{% url 'products:detail' bid.product.id %}"> {{bid.product.name}} </a> </td>
                    <td>{{bid.amount}}</td>
                    <td> {{bid.date}}</td>
                  </tr>
                  {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                  <th>Date</th>
                  <th>Product</th>
                  <th>Amount</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.1
    </div>
    <strong>Copyright &copy; 2018 <a href="https://jerryshikanga.github.io">Jerry Shikanga</a>.</strong> All rights
    reserved.
  </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="{% static '/home/' %}bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="{% static '/home/' %}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- DataTables -->
<script src="{% static '/home/' %}bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{% static '/home/' %}bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="{% static '/home/' %}bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="{% static '/home/' %}bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="{% static '/home/' %}dist/js/adminlte.min.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="{% static '/home/' %}dist/js/demo.js"></script>
<!-- page script -->
<script>
  $(function () {
    $('#example1').DataTable()
  })
</script>
{% endblock %}
